.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(var(--token-wRTnrRwLX), var(--token-wRTnrRwLX)),
    #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 768px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__apDMg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 35px 8px 8px;
}
.column__apDMg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__apDMg > :global(.__wab_flex-container) > *,
.column__apDMg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__apDMg > :global(.__wab_flex-container) > picture > img,
.column__apDMg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.column__apDMg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 35px 8px 8px;
}
@media (max-width: 768px) {
  .column__apDMg > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .column__apDMg {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__gRaCi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__gRaCi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__gRaCi > :global(.__wab_flex-container) > *,
.freeBox__gRaCi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gRaCi > :global(.__wab_flex-container) > picture > img,
.freeBox__gRaCi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__gRaCi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h4___4PJjc {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-iR8SeEwQZ);
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.navItem__ebdyO:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  position: relative;
  left: auto;
  top: auto;
}
.categoryLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.text__dfhmc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___6IiB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tPWs6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
@media (max-width: 768px) {
  .productCollection:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
  height: 300px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 16px;
}
.text___4RD0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__voEwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tifa9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 35px 8px 8px;
}
.freeBox__jGykJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jGykJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__jGykJ > :global(.__wab_flex-container) > *,
.freeBox__jGykJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jGykJ > :global(.__wab_flex-container) > picture > img,
.freeBox__jGykJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__jGykJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__hnQtO {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-iR8SeEwQZ);
}
.freeBox__k5FF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__k5FF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__k5FF > :global(.__wab_flex-container) > *,
.freeBox__k5FF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k5FF > :global(.__wab_flex-container) > picture > img,
.freeBox__k5FF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__k5FF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.navItem__kVCwH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem__palSx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem__a2NNx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem__m9XgG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
}
