.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--token-wRTnrRwLX);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-wRTnrRwLX);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.productGrid__io4HK:global(.__wab_instance) {
  max-width: 100%;
  height: 1000px;
  width: 100%;
  margin-top: calc(10px + 0px) !important;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .productGrid__io4HK:global(.__wab_instance) {
    height: 1200px;
    margin-top: calc(10px + 0px) !important;
    flex-shrink: 0;
  }
}
.productBox__pd8Eo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard__ofpeQ:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.productTextField__ebyhz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.freeBox__v4KYj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productMedia:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__imp6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__piOfp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productBox__heYo1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard__yb1Xi:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.productTextField__sk3L3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productBox__sooUz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard__cVk99:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.productTextField__dBgZe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.marquee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  cursor: pointer;
  background: var(--token-ht6ShFapzP0u0T);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .marquee {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.freeBox__nSi3B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__ieBcJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__jwVJi:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__u5J4A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox___6Tnm2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
}
.productBox__g6IwK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__xu2Mq:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__xcuJn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox___0Qsuk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__l4NAw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__ebj2:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__qGorD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__haWod {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iR8SeEwQZ);
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  min-width: 0;
  padding: 128px 32px;
  border-style: solid;
  border-color: var(--token-wRTnrRwLX);
}
.hero__t1Amr:global(.__wab_instance) {
  max-width: 100%;
}
.productGrid__cmBKa:global(.__wab_instance) {
  max-width: 100%;
  height: 1000px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .productGrid__cmBKa:global(.__wab_instance) {
    height: 1200px;
    flex-shrink: 0;
  }
}
.productBox__ha0RM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard__xcObc:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__gko5H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productBox___0Eu8J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard__ggDRa:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__vXpp9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productBox__qwC5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.productCard___5AniO:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField___5Zwuz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.marquee2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  cursor: pointer;
  background: var(--token-rkRvSZFmXGuFSk);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .marquee2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.freeBox__kg9JZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox___1FH5B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__tUkL:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__orrWr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__jBbN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__rsuLa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__qrwDn:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__seoQy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__uldvx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox___2RwvR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__iLcp:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__pD733:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
