.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  border-bottom: 1px solid var(--token-fVn5vRhXJxQ);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-bottom: 1px solid var(--token-fVn5vRhXJxQ);
}
.freeBox__hPqJ4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mSkeW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-fVn5vRhXJxQ);
  flex-shrink: 0;
}
.svgisOpen__mSkeW6M6Cx {
  transform: none;
}
.freeBox__nJgJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 1rem;
  color: var(--token-ht6ShFapzP0u0T);
}
.freeBox___2Oo0B {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBoxisOpen___2Oo0B6M6Cx {
  display: flex;
}
.freeBox__i6M8O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxisOpen__i6M8O6M6Cx {
  align-self: flex-start;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
.svg__pxz22 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-fVn5vRhXJxQ);
  flex-shrink: 0;
}
.svgisOpen__pxz226M6Cx {
  transform: none;
  display: none;
}
.freeBox__fVf5U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetContent {
  color: var(--token-ht6ShFapzP0u0T);
}
